@import 'nib/vendor'
@import 'nib/gradients'

h1, h2
	font-weight 100

.progress
	margin-top 15px

.navbar 
.panel-heading
	background linear-gradient(#fafafa, #eaeaea)

.btn.btn-success
	background linear-gradient(#5cb85c, #4cae4c)

input.ng-invalid.ng-dirty 
	border 1px solid #CC0000

input.ng-valid.ng-dirty 
	border 1px solid green

#map
	margin-top 10px
	margin-bottom 20px