@import 'nib/vendor'
@import 'nib/gradients'

h1, h2
	font-weight 100

.progress
	margin-top 15px

.navbar 
.panel-heading
	background white
	padding-top 10px
	padding-bottom 10px

.btn.btn-success
	background linear-gradient(#5cb85c, #4cae4c)

input.ng-invalid.ng-dirty 
	border 1px solid #CC0000

input.ng-valid.ng-dirty 
	border 1px solid green

#map
	margin-top 10px
	margin-bottom 20px

.crear-trayecto
	margin-top 15px
	border 1px solid #CCC
	border-radius 10px