extend ../layouts/main

block content
	h1 Estado Parking 
		small Conoce el estado de tus parkings

	.container
		.row
			table.table.table-striped
				tr
					th Parking
					th Plazas Total
					th Disponibles
				each p in parkings
					tr
						td= p.nombre
						td= p.plazas
						td= p.cant_libre