extend ../layouts/main

block content
    h1 Estado Parking 
        small Conoce el estado de tus parkings

    .container(ng-controller="ParkingsCtrl")
        .row
            table.table.table-striped
                tr
                    th Codigo
                    th Lugar
                    th Plazas Total
                    th Disponibles
                    th Estado
                
                    tr(ng-repeat="p in todos_parkings")
                        td {{ p.codigo }}
                        td {{ p.lugar }}
                        td {{ p.plazas }}
                        td {{ p.plazas - p.ocupadas }}
                        td 
                            span(class="label", ng-class = "{'label-success': p.estado == 'Libre', 'label-warning': p.estado == 'Personal Autorizado', 'label-danger': p.estado == 'Completo', 'label-default': p.estado == 'Cerrado'}") {{ p.estado }}


block script
    script(src="/js/ParkingsCtrl.js")
    script(src="/socket.io/socket.io.js")
    script.
        var scope,
        socket = io.connect('http://localhost:3000/estado-parking');
        $(document).ready(function (){
            scope = angular.element('div[ng-controller="ParkingsCtrl"]').scope();
            scope.getParkings();
            scope.$apply();
        });
        socket.on('palCliente', function (data) {
            console.log(data);
            if(scope !== undefined){
                scope.setParkings(data);
                scope.$apply(); 
            }
        });