extend ../layouts/main
block content
  .jumbotron
    h1 PolimueveT
    p
        | Ahorra viajando a la Universidad en grupo
    p
        | Inscríbete con tu correo universitario
    p
        a.btn.btn-lg.btn-primary(role="button") Registrarme!