extend ../layouts/main
block content
    h1 Estado del parking
    p
        | parking 1: <p class="ocupado">x</p>
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io.connect('http://localhost:3000/showParking');
        socket.on('palCliente', function (data) {
            var plazasLibresParking1 = data[0].plazas - data[0].ocupadas;
            $('.ocupado').text(plazasLibresParking1);
            console.log(data);
         });
