extend ../layouts/main
block content
    .container(ng-controller="CrearTrayectoCtrl")
        form.form-horizontal(role="form", name="crear-trayecto", method="post", action="/prueba")
            .row
                .col-md-12
                    h1 Crear Trayecto
                    .panel.panel-default
                        .panel-heading Informacion del Trayecto
                        .panel-body
                            .col-md-6
                                .form-group
                                    label.col-sm-3.control-label(for="nPlazas") Nº Plazas
                                    .col-sm-9
                                        input.form-control(ng-model="num_plazas",id="numPlazas",name="nPlazas", type="text", placeHolder="Nº Plazas")
                                        
                                .form-group
                                    label.col-sm-3.control-label(for="origen") Origen
                                    .col-sm-9
                                        input.form-control(ng-model="origen",name="origen", type="text", placeHolder="Origen")

                                .form-group
                                    label.col-sm-3.control-label(for="horaSalida") Hora Salida
                                    .col-sm-9
                                        input.form-control(ng-model="horaSalida",name="horaSalida",type="text", placeHolder="Hora Salida")
                                .form-group
                                    label.col-sm-3.control-label(for="equipaje") Tamaño max. del equipaje
                                    .col-sm-9
                                        select.form-control(ng-model="equipaje",name="equipaje")
                                            option Mochila
                                            option Maleta
                            .col-md-6
                                .form-group
                                    label.col-sm-3.control-label(for="precio") Precio/Plaza
                                    .col-sm-9
                                        input.form-control(name="precio", type="text", placeHolder="Precio/Plaza")

                                .form-group
                                    label.col-sm-3.control-label(for="destino") Destino
                                    .col-sm-9
                                        select.form-control(name="destino")
                                            option Valencia
                                            option Castellón
                                            option Alicante
                                
                                .form-group
                                    label.col-sm-3.control-label(for="maxEspera") Max. Espera
                                    .col-sm-9
                                        input.form-control(name="maxEspera",type="text", placeHolder="Max. Espera")
            .row
                .col-md-6 
                    .panel.panel-default
                        .panel-heading Restricciones
                        .panel-body
                            .col-md-6
                                .form-group
                                    label.checkbox(for="noFumadores") No fumadores 
                                        input(name="noFumadores",type="checkbox", id="NoFumadores") 
                                 .form-group
                                    label.checkbox(for="noAnimales") No animales 
                                        input(name="noAnimales",type="checkbox", id="NoAnimales") 
                            .col-md-6
                                .form-group
                                    label.checkbox(for="noComida") No comida 
                                        input(name="noComida",type="checkbox", id="NoComida")
                .col-md-6
                    .panel.panel-default
                            .panel-heading Tipo de pasajero
                            .panel-body 
                                .col-md-6
                                    .form-group
                                        label.checkbox(for="alumnos") Alumnos 
                                            input(name="alumnos",type="checkbox", id="Alumnos") 
                                     .form-group
                                        label.checkbox(for="profesores") Profesores 
                                            input(name="profesores",type="checkbox", id="Profesores") 
                                .col-md-6
                                    .form-group
                                        label.checkbox(for="personal") Personal 
                                            input(name="personal",type="checkbox", id="Personal") 
            .row
                .col-md-12
                    .form-group
                        label.col-sm-2.control-label(for="observaciones") Observaciones
                        .col-md-10
                                textarea.form-control.col-sm-12(name="observaciones", id="textareaObservaciones", rows="5")
            .row
                .col-md-12
                    .btn-group.col-md-4.btn-lg
                        button.col-md-6(class="btn btn btn-success", id="cancelar", ng-click="PublicarTrayecto()") Publicar
                        button.col-md-6(class="btn btn-danger", id="cancelar",  onClick="reset()") Cancelar

block script
    script(src="/js/CrearTrayectoCtrl.js")