extend ../layouts/main
block content
	.container(ng-controller="MisTrayectosCtrl")
		form.form-horizontal(role="form", name="crear-trayecto", method="post", action="/prueba")
			h1 Mis trayectos
			.row
				.col-md-12
					.panel.panel-default
						.panel-heading Trayectos que estoy inscrito
						.panel-body
							.col-md-12
								table.table
									tr
										th Num. Plazas
										th Origen
										th Destino
										th Fecha y Hora Salida
										th Precio Plaza
										th Max. Espera
										th Restricciones
										th
									tr(ng-repeat="i in trayectos_inscrito")
										td {{ i.Num_plazas }}
										td {{ i.Origen }}
										td {{ i.Destino }}
										td 
											{{ i.fechaFormat }}
											br
											{{ i.fechaHoraSalida }}
										td {{ i.Precio_plaza }} €
										td {{ i.Tiempo_max_espera }} min.
										td 
											span(ng-repeat="(key, r) in i.Restricciones")
												{{ 	key.replace('_', ' ').toUpperCase() }}
												br
										td
											a.btn.btn-primary(href="/trayecto/{{ i.id }}")
												span.glyphicon.glyphicon-eye-open
									tr(ng-show="trayectos_inscrito.length === 0")
										td(colspan="8", align="center") 
											div(style="color: gray; font-size: 24px; font-weight: 100; padding-top: 10px") No est&aacute;s <span class="bold_word">inscrito</span> en ning&uacute;n trayecto todav&iacute;a!
											br
											a.btn.btn-success(href="/trayectos") Inscr&iacute;bete en uno

			.row
				.col-md-12
					.panel.panel-default
						.panel-heading Trayectos que estoy ofreciendo
						.panel-body
							table.table
								tr
									th Num. Plazas
									th Origen
									th Destino
									th Fecha y Hora Salida
									th Precio Plaza
									th Max. Espera
									th Restricciones
									th
								tr(ng-repeat="t in trayectos_ofreciendo")
									td {{ t.Num_plazas }}
									td {{ t.Origen }}
									td {{ t.Destino }}
									td 
										{{ t.fechaFormat }}
										br
										span(style="color: gray") {{ t.fechaHoraSalida }}
									td {{ t.Precio_plaza }} €
									td {{ t.Tiempo_max_espera }} min.
									td 
										span(ng-repeat="(key, r) in t.Restricciones", ng-show="r")
											{{ 	key.replace('_', ' ').toUpperCase() }}
											br
									td
										a.btn.btn-primary(href="/trayecto/{{ t.id }}")
											span.glyphicon.glyphicon-eye-open
										|  
										a.btn.btn-info(href="/editar-trayecto/{{ t.id }}")
											span.glyphicon.glyphicon-pencil
										|  
										a.btn.btn-danger(ng-click="borrarTrayecto(t.id)")
											span.glyphicon.glyphicon-trash
								tr(ng-show="trayectos_ofreciendo.length === 0")
									td(colspan="8", align="center") 
										div(style="color: gray; font-size: 24px; font-weight: 100; padding-top: 10px") No est&aacute;s <span class="bold_word">ofreciendo</span> ning&uacute;n trayecto todav&iacute;a!
										br
										a.btn.btn-success(href="/crear-trayecto") Ofrece uno

block script
	script(src="/js/MisTrayectosCtrl.js")
	script.
		var scope;
		$(document).ready(function (){
			scope = angular.element('[ng-controller="MisTrayectosCtrl"]').scope();
			//- scope.id_user = 'from_site';
			scope.id_user = !{ userId };
			scope.$apply();
			scope.getData();
			scope.getInscritos();
		});

		function capitaliseFirstLetter(string)
		{
			return string.charAt(0).toUpperCase() + string.slice(1);
		}
