extend ../layouts/main

block content
	.container
		h1 Mis tratectos
		.row
			.panel.panel-default
				.panel-body
					.col-md-6
						.form-group
							label.col-sm-2.control-label(for="Filtro") Filtro
							.col-sm-10
								select.form-control
									option Favoritos
		.row
			.panel.panel-default
				.panel-body
					.col-md-12
						.form-group
						table.table.table-hover.table-bordered
							tr
								th Fecha
								th Hora
								th Origen
								th Destino
								th Plazas
								th Precio
								th Características
							tr
								td 26/11/13
								td 19:00
								td Valencia
								td Castellon
								td 5
								td 6
								td NF - NA

/					each t in trayectos
/						tr
/							td t.fecha
/							td t.hora
/							td t.origen
/							td t.destino
/							td t.plazas
/							td t.precio
/							td t.caracteristicas